<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index">

    {% include header.html %}

    <!--     -->

      <div class="page-content">
        <div class="wrap">
        {{ content }}

        * resource title
        * author name
        * resource description
        * item license
        * permalink to resource (in archive)
        
        <div class="container fluid">
          <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">{ page.title }} <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>
        </div>

        </div>
      </div>

    {% include footer.html %}
    {% include js.html %}

    </body>
</html>