                 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color: #312D2D;>About</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p style="color: #312D2D;">These projects were chosen to be recognized as exemplars by participants in the OPEN Showcase Fair at the TAACCCT-ON! conference, coordinated by OPEN, the Trac-7 Consortium, and the U.S. Department of Labor (October 2014).</p>
                    <p>Recommendations were collected from all participants at the event, and were based on excellence and innovation in the following categories:</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
            <div class="row">
  				<div class="col-md-2 col-md-offset-2"><img style="margin: 0 auto;" src="img/portfolio/accelerated.png" class="img-responsive"></div>
  				<div class="col-md-2"><img style="margin: 0 auto;" src="img/portfolio/pathways.png" class="img-responsive"></div>
  				<div class="col-md-2"><img style="margin: 0 auto;" src="img/portfolio/employment.png" class="img-responsive"></div>
  				<div class="col-md-2"><img style="margin: 0 auto;" src="img/portfolio/tech.png" class="img-responsive"></div>
  				</div>
  				<div class="row">
  				<div class="col-md-2 col-md-offset-1"><img style="margin: 0 auto;" src="img/portfolio/energy.png" class="img-responsive"></div>
  				<div class="col-md-2"><img style="margin: 0 auto;" src="img/portfolio/manufacturing.png" class="img-responsive"></div>
  				<div class="col-md-2"><img style="margin: 0 auto;" src="img/portfolio/transportation.png" class="img-responsive"></div>
  				<div class="col-md-2"><img style="margin: 0 auto;" src="img/portfolio/it.png" class="img-responsive"></div>
  				<div class="col-md-2"><img style="margin: 0 auto;" src="img/portfolio/health.png" class="img-responsive"></div>
  				</div>
  				</div>
</div>
        </div>
    </section>