	<!-- About Section -->
    <section id="about">
        <div class="container">

          <div class="row">
            <h2>About</h2>
              <div class="col-lg-12 text-center about-text">
                <p class="blurb">These projects were chosen to be recognized as exemplars by participants in the OPEN Showcase Fair at the TAACCCT-ON! conference, coordinated by OPEN, the Trac-7 Consortium, and the U.S. Department of Labor (October 2014).</p>
                <strong>Projects were recommended as standouts in the following areas:</strong>
              </div>
          </div>

          <div class="row">
            <div class="green-bar-container">
              <h3 class="text-center">U.S. DOL Priorities</h3>
              <p class="text-center">Strength in these areas aligns with the U.S. DOL's priorities for TAACCCT.</p>
    				</div>
            <div class="col-sm-3">
              <i class="icon icon-rabbit">A rabbit representing quick progress.</i>
    				  <p class="text-center">Accelerated Progress</p>
            </div>
    				<div class="col-sm-3">
              <i class="icon icon-compass">A compass representing guidance.</i>
    				  <p class="text-center">Career Pathway Guidance</p>
            </div>
    				<div class="col-sm-3">
              <i class="icon icon-hand">A handshake representing support.</i>
              <p class="text-center">Student Support + Retention</p>
            </div>
    				<div class="col-sm-3">
              <i class="icon icon-brain">A cursor on a human brain representing learning online.</i>
    				  <p class="text-center">Technology + Online Learning</p>
            </div>
    			</div>

  				<div class="row">
            <div class="green-bar-container">
  				    <h3 class="text-center">Industry Training Sectors</h3>
  				    <p class="text-center">TAACCCT is training today's workers to enter these growing industries.</p>
            </div>

    				<div class="col-sm-3">
              <i class="icon icon-lightning">A lightning bolt representing energy.</i>
    				  <p class="text-center same-height">Energy Technology</p>
            </div>
    				<div class="col-sm-3">
              <i class="icon icon-gear">Gears representing manufacturing.</i>
    				  <p class="text-center same-height">Advanced Manufacturing</p>
            </div>
    				<div class="col-sm-3">
              <i class="icon icon-world">A globe with a westerly-facing arrow representing transport.</i>
    				  <p class="text-center same-height">Transportation</p>
            </div>
    				<div class="col-sm-3">
              <i class="icon icon-computer">A computer representing information technology.</i>
    				  <p class="text-center same-height">Information Technology</p>
            </div>
    				<div class="col-sm-3">
              <i class="icon icon-health">A health cross.</i>
    				  <p class="text-center same-height">Healthcare</p>
            </div>
  				</div>

        </div>
    </section>
