	<!-- Archive Section -->
    <section class="archive" id="archive">
    <br>
        <div class="container">
            <!-- START THE FEATURETTE -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">CC Resource Archive <span class="text-muted">Submit a resource</span></h2>
          <p class="lead">Want to see more resources that help explain CC? Come view the archive and add resources you've created or seen in the wild.<br>
          </p>
          <a href="http://resources.creativecommons.org"><button type="button" class="btn btn-primary">See more</button></a>
          <br>
        </div>
        <div class="col-md-5">
          <a href="http://resources.creativecommons.org"><img class="featurette-image img-responsive" src="img/500px_collage.png" alt="Generic placeholder image"></a>
        </div>
      </div>
</div>
        </div>
<br>
  <br>
    </section>
    