	<!-- Archive Section -->
    <section class="archive" id="archive">
    <br>
        <div class="container">
            <!-- START THE FEATURETTE -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-sm-7 col-md-7 col-lg-7">
          <h2 class="featurette-heading">تخلیقی العام وسائل کا خزانہ
<span class="text-muted">ایک وسیلہ ارسال کریں
</span></h2>
          <p class="lead">سی سی اس بات کی وضاحت کی مدد ہے کہ زیادہ وسائل دیکھنا چاہتے ہیں؟ تم کو پیدا یا جنگلی میں دیکھا ہے وسائل شدہ دستاویزات دیکھنے اور اضافہ آو .
<br>
          </p>
          <a href="http://resources.creativecommons.org"><button type="button" class="btn btn-primary">جاؤ</button></a>
          <br>
        </div>
        <div class="col lg-5 col-md-5 col-sm-5">
          <a href="http://resources.creativecommons.org"><img class="featurette-image img-responsive" src="../img/500px_collage.png" alt="Generic placeholder image"></a>
        </div>
      </div>
</div>
        </div>
<br>
  <br>
    </section>
    