	<!-- Archive Section -->
    <section class="archive" id="archive">
    <br>
        <div class="container">
            <!-- START THE FEATURETTE -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-sm-7 col-md-7 col-lg-7">
          <h2 class="featurette-heading">CC Resource Archiv
<span class="text-muted">Teilen sich eine Ressource</span></h2>
          <p class="lead">Möchten Sie mehr Ressourcen zu sehen, die erklären, CC helfen? Kommen Sie sehen das Archiv und fügen Sie erstellt oder in freier Wildbahn gesehen haben Ressourcen.<br>
          </p>
          <a href="http://resources.creativecommons.org"><button type="button" class="btn btn-primary">Mer</button></a>
          <br>
        </div>
        <div class="col lg-5 col-md-5 col-sm-5">
          <a href="http://resources.creativecommons.org"><img class="featurette-image img-responsive" src="../img/500px_collage.png" alt="Generic placeholder image"></a>
        </div>
      </div>
</div>
        </div>
<br>
  <br>
    </section>
    