	<!-- Archive Section -->
    <section class="archive" id="archive">
    <br>
        <div class="container">
            <!-- START THE FEATURETTE -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-sm-7 col-md-7 col-lg-7">
          <h2 class="featurette-heading">Archive Resource CC
<span class="text-muted">Présenter une ressource</span></h2>
          <p class="lead">Vous voulez voir plus de ressources qui aident à expliquer CC? Venez voir l'archive et ajouter des ressources que vous avez créés ou vu à l'état sauvage.<br>
          </p>
          <a href="http://resources.creativecommons.org"><button type="button" class="btn btn-primary">voir plus</button></a>
          <br>
        </div>
        <div class="col lg-5 col-md-5 col-sm-5">
          <a href="http://resources.creativecommons.org"><img class="featurette-image img-responsive" src="../img/500px_collage.png" alt="Generic placeholder image"></a>
        </div>
      </div>
</div>
        </div>
<br>
  <br>
    </section>
    