	<!-- Archive Section -->
    <section class="archive" id="archive">
    <br>
        <div class="container">
            <!-- START THE FEATURETTE -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-sm-7 col-md-7 col-lg-7">
          <h2 class="featurette-heading">Archivo de recursos de CC <span class="text-muted">Presentar un recurso</span></h2>
          <p class="lead">¿Quieres ver más recursos que ayudan a explicar CC ? Venga a ver el archivo y agregar recursos que ha creado o visto en la naturaleza .<br>
          </p>
          <a href="http://resources.creativecommons.org"><button type="button" class="btn btn-primary">Ver mas</button></a>
          <br>
        </div>
        <div class="col lg-5 col-md-5 col-sm-5">
          <a href="http://resources.creativecommons.org"><img class="featurette-image img-responsive" src="../img/500px_collage.png" alt="Generic placeholder image"></a>
        </div>
      </div>
</div>
        </div>
<br>
  <br>
    </section>
    