	<!-- Collaborate Section -->
    <section class="collaborate" id="collaborate">
    <br>
        <div class="container">
            <!-- START THE FEATURETTE -->

      <hr class="featurette-divider">

      <div class="row featurette">
              <div class="col lg-5 col-md-5 col-sm-5">
          <a href="collaborate/"><img class="featurette-image img-responsive" src="../img/cc_tools.png" alt="Generic placeholder image"></a>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7">
          <h2 class="featurette-heading">Colaborar
          <br><span class="text-muted">Herramientas para remezclar</span></h2>
          <p class="lead">Interesado en herramientas que pueden ayudar a comunicar su mensaje? Aquí está una colección de herramientas de software libre y de código abierto para trabajar con contenido con licencia CC .
          <br>
          </p>
                    <a href="/cc-toolkits/collaborate"><button type="button" class="btn btn-primary">Ver mas</button></a>
        </div>

      </div>
                        <small>Icons by <a href="http://thenounproject.com/term/scissors/178/">Edward Boatman</a> and <a href="http://thenounproject.com/term/ruler/7441/">Creatorid'immagine</a> from the Noun Project / CC BY</small>

</div>
        </div>
<br>
<br>
    </section>

    