	<!-- Collaborate Section -->
    <section class="collaborate" id="collaborate">
    <br>
        <div class="container">
            <!-- START THE FEATURETTE -->

      <hr class="featurette-divider">

      <div class="row featurette">
              <div class="col lg-5 col-md-5 col-sm-5">
          <a href="collaborate/"><img class="featurette-image img-responsive" src="../img/cc_tools.png" alt="Generic placeholder image"></a>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7">
          <h2 class="featurette-heading">اشتراک کرنا
          <br><span class="text-muted">REMIXING کے لئے اوزار</span></h2>
          <p class="lead">مدد کرسکتے ہیں کہ فورم کے اوزار میں دلچسپی رکھنے والے آپ کو آپ کے پیغام کے ابلاغ ؟ یہاں CC لائسنس یافتہ مواد کے ساتھ کام کے لئے مفت اور اوپن سورس سافٹ ویئر کے اوزار کا ایک مجموعہ ہے .
 
          <br>
          </p>
                    <a href="/cc-toolkits/collaborate"><button type="button" class="btn btn-primary">جاؤ</button></a>
        </div>

      </div>
                        <small>Icons by <a href="http://thenounproject.com/term/scissors/178/">Edward Boatman</a> and <a href="http://thenounproject.com/term/ruler/7441/">Creatorid'immagine</a> from the Noun Project / CC BY</small>

</div>
        </div>
<br>
<br>
    </section>

    