<!-- Intro section -->
    <section class="text-center" id="topics">
<div class="container">
  <div class="row">
    <div class="col-lg-8-offset-2"><span class="h2"><strong>How would you tell someone about Creative Commons?</strong></h2></span>
  <br>
  <span class="h3">Here are some toolkits to help start the conversation.</span>
</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.container -->
</div><!-- container -->
<br>
<br>
<br>
  <!-- Grid Section -->
    <div class="container fluid">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4" text="center">
          <a href="/cc-toolkits/basics/"><img class="img-circle" src="img/icons/toolkit-icon-color-01.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Basics of CC</h3>
          <p>What is Creative Commons and what are the CC licenses? Get basic info to share the importance of CC with others.</p>
          <p><a class="btn btn-default" href="/cc-toolkits/basics/" role="button">View toolkit »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/education/"><img class="img-circle" src="img/icons/toolkit-icon-color-02.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Education</h3>
          <p>Why does CC matter in education? See how CC helps expand access and improve the quality of education around the world.</p>
          <p><a class="btn btn-default" href="/cc-toolkits/education/" role="button">View toolkit »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/government/"><img class="img-circle" src="img/icons/toolkit-icon-color-03.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Government</h3>
          <p>Why does CC matter in government? See how CC helps improve transparency, efficiency, and innovation.</p>
          <p><a class="btn btn-default" href="/cc-toolkits/government/" role="button">View toolkit »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <br>
            <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/creative-industries/"><img class="img-circle" src="img/icons/toolkit-icon-color-04.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Creative Industries</h3>
          <p>Why does CC matter in creative industries? See how CC enhances creative collaboration.</p>
          <p><a class="btn btn-default" href="/cc-toolkits/creative-industries/" role="button">View toolkit »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/science/"><img class="img-circle" src="img/icons/toolkit-icon-color-05.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Science</h3>
          <p>Why does CC matter in science? See how CC licenses go beyond access and help us advance our understanding of the world.</p>
          <p><a class="btn btn-default" href="/cc-toolkits/science/" role="button">View toolkit »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/culture/"><img class="img-circle" src="img/icons/toolkit-icon-color-06.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Culture</h3>
          <p>Why does CC matter in the GLAM sector? See how CC helps us preserve and share the world’s cultural heritage.</p>
          <p><a class="btn btn-default" href="/cc-toolkits/culture/" role="button">View toolkit »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      </div>
        </div>
          <div> <!-- /.container -->
        <br>
        <br>
        </section>