<!-- Intro section -->
    <section class="text-center" id="topics">
<div class="container">
  <div class="row">
    <div class="col-lg-8-offset-2"><span class="h2"><strong>کس طرح آپ کو تخلیقی عمومی کے بارے میں کسی کو بتا دیں گے؟
</strong></h2></span>
  <br>
  <span class="h3">یہ بات چیت شروع کرنے میں مدد کرنے کے لئے کچھ میں toolkits ہیں .
</span>
</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.container -->
</div><!-- container -->
<br>
<br>
<br>
  <!-- Grid Section -->
    <div class="container fluid">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4" text="center">
          <a href="/cc-toolkits/basics/"><img class="img-circle" src="../img/icons/toolkit-icon-color-01.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>سی سی کی بنیادی معلومات</h3>
          <p>تخلیقی العام کیا ہے اور CC لائسنس کا کیا ہیں؟ دوسروں کے ساتھ سی سی کی اہمیت اشتراک بنیادی معلومات حاصل کریں .
</p>
          <p><a class="btn btn-default" href="/cc-toolkits/basics/" role="button">جاؤ »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/education/"><img class="img-circle" src="../img/icons/toolkit-icon-color-02.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>تعلیم</h3>
          <p>کیوں تعلیم میں سی سی کوئی بات ہے؟ سی سی تک رسائی کو بڑھانے اور دنیا بھر میں تعلیم کے معیار کو بہتر بنانے کے میں مدد ملتی ہے کہ کس طرح دیکھتے .
</p>
          <p><a class="btn btn-default" href="/cc-toolkits/education/" role="button">جاؤ »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/government/"><img class="img-circle" src="../img/icons/toolkit-icon-color-03.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>حکومت</h3>
          <p>کیوں حکومت میں CC فرق پڑتا ہے؟ سی سی شفافیت ، کارکردگی ، اور جدت کو بہتر بنانے میں مدد ملتی ہے کہ کس طرح دیکھتے .
</p>
          <p><a class="btn btn-default" href="/cc-toolkits/government/" role="button">جاؤ »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <br>
            <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/creative-industries/"><img class="img-circle" src="../img/icons/toolkit-icon-color-04.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>تخلیقی صنعتوں
</h3>
          <p>کیوں تخلیقی صنعتوں میں سی سی کوئی بات ہے؟ سی سی تخلیقی تعاون میں اضافہ ہے کہ کس طرح دیکھتے .
</p>
          <p><a class="btn btn-default" href="/cc-toolkits/creative-industries/" role="button">جاؤ »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/science/"><img class="img-circle" src="../img/icons/toolkit-icon-color-05.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>سائنس</h3>
          <p>کیوں سائنس میں سی سی کوئی بات ہے؟ سی سی لائسنسوں رسائی سے باہر جانے اور ہمیں دنیا کی ہماری سمجھ کو آگے بڑھانے میں مدد ملے دیکھو کس طرح .
</p>
          <p><a class="btn btn-default" href="/cc-toolkits/science/" role="button">جاؤ »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/culture/"><img class="img-circle" src="../img/icons/toolkit-icon-color-06.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>ثقافت</h3>
          <p>کیوں مسحور کن شعبے میں سی سی کوئی بات ہے؟ سی سی نے ہمیں محفوظ رکھنے اور دنیا کے ثقافتی ورثے کا اشتراک کریں مدد کرتا ہے کس طرح دیکھنے .
</p>
          <p><a class="btn btn-default" href="/cc-toolkits/culture/" role="button">جاؤ »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      </div>
        </div>
          <div> <!-- /.container -->
        <br>
        <br>
        </section>