<!-- Intro section -->
    <section class="text-center" id="topics">
<div class="container">
  <div class="row">
    <div class="col-lg-8-offset-2"><span class="h2"><strong>Was ist auf Lager und was sind die CC-Lizenzen?</strong></h2></span>
  <br>
  <span class="h3">Holen Sie grundlegende Informationen, die Bedeutung von CC mit anderen zu teilen.</span>
</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.container -->
</div><!-- container -->
<br>
<br>
<br>
  <!-- Grid Section -->
    <div class="container fluid">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4" text="center">
          <a href="/cc-toolkits/basics/"><img class="img-circle" src="../img/icons/toolkit-icon-color-01.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Grundlagen der CC</h3>
          <p>Was ist auf Lager und was sind die CC-Lizenzen ? Holen Sie grundlegende Informationen , die Bedeutung von CC mit anderen teilen. </p>
          <p><a class="btn btn-default" href="/cc-toolkits/basics/" role="button">siehe Toolkit »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/education/"><img class="img-circle" src="../img/icons/toolkit-icon-color-02.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Bildung</h3>
          <p>Warum CC Angelegenheit in der Bildung? Sehen Sie, wie CC hilft dabei, den Zugang und die Verbesserung der Qualität der Bildung in der ganzen Welt.</p>
          <p><a class="btn btn-default" href="/cc-toolkits/education/" role="button">siehe Toolkit »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/government/"><img class="img-circle" src="../img/icons/toolkit-icon-color-03.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Regierung</h3>
          <p>Warum CC Angelegenheit in der Regierung ? Sehen Sie, wie CC trägt zur Verbesserung der Transparenz, Effizienz und Innovation.</p>
          <p><a class="btn btn-default" href="/cc-toolkits/government/" role="button">siehe Toolkit »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <br>
            <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/creative-industries/"><img class="img-circle" src="../img/icons/toolkit-icon-color-04.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Kreativwirtschaft</h3>
          <p>Warum CC Angelegenheit in der Kreativwirtschaft? Sehen Sie, wie CC verbessert die kreative Zusammenarbeit.</p>
          <p><a class="btn btn-default" href="/cc-toolkits/creative-industries/" role="button">siehe Toolkit »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/science/"><img class="img-circle" src="../img/icons/toolkit-icon-color-05.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Wissenschaft</h3>
          <p>Warum CC Frage in der Wissenschaft? Sehen Sie, wie CC-Lizenzen gehen über den Zugang und uns helfen, unser Verständnis der Welt.</p>
          <p><a class="btn btn-default" href="/cc-toolkits/science/" role="button">siehe Toolkit »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/culture/"><img class="img-circle" src="../img/icons/toolkit-icon-color-06.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Kultur</h3>
          <p>Warum CC Materie im GLAM Sektor? Sehen Sie, wie CC hilft uns, zu bewahren und mit anderen teilen der Welt das kulturelle Erbe.</p>
          <p><a class="btn btn-default" href="/cc-toolkits/culture/" role="button">siehe Toolkit »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      </div>
        </div>
          <div> <!-- /.container -->
        <br>
        <br>
        </section>