<!-- Intro section -->
    <section class="text-center" id="topics">
<div class="container">
  <div class="row">
    <div class="col-lg-8-offset-2"><span class="h2"><strong>Comment voulez-vous parler à quelqu'un Creative Commons ?</strong></h2></span>
  <br>
  <span class="h3">Voici quelques outils pour aider à entamer la conversation.
</span>
</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.container -->
</div><!-- container -->
<br>
<br>
<br>
  <!-- Grid Section -->
    <div class="container fluid">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4" text="center">
          <a href="/cc-toolkits/basics/"><img class="img-circle" src="../img/icons/toolkit-icon-color-01.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Notions de base de CC</h3>
          <p>Quel est Creative Commons et quelles sont les licences CC? Obtenez les informations de base à part l'importance de CC avec les autres.</p>
          <p><a class="btn btn-default" href="/cc-toolkits/basics/" role="button">voir boîte à outils »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/education/"><img class="img-circle" src="../img/icons/toolkit-icon-color-02.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>éducation</h3>
          <p>Pourquoi CC question dans l'éducation? Voyez comment CC contribue à élargir l'accès et améliorer la qualité de l'éducation dans le monde entier.</p>
          <p><a class="btn btn-default" href="/cc-toolkits/education/" role="button">voir boîte à outils »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/government/"><img class="img-circle" src="../img/icons/toolkit-icon-color-03.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Gouvernement</h3>
          <p>Pourquoi CC question au sein du gouvernement? Voyez comment CC contribue à améliorer la transparence, l'efficacité et l'innovation.</p>
          <p><a class="btn btn-default" href="/cc-toolkits/government/" role="button">voir boîte à outils »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <br>
            <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/creative-industries/"><img class="img-circle" src="../img/icons/toolkit-icon-color-04.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Industries créatives</h3>
          <p>Pourquoi CC question dans les industries créatives? Voyez comment CC améliore la collaboration créative.</p>
          <p><a class="btn btn-default" href="/cc-toolkits/creative-industries/" role="button">voir boîte à outils »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/science/"><img class="img-circle" src="../img/icons/toolkit-icon-color-05.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Science</h3>
          <p>Pourquoi CC matière dans la science? Voyez comment licences CC vont au-delà l'accès et nous aider à faire progresser notre compréhension du monde.</p>
          <p><a class="btn btn-default" href="/cc-toolkits/science/" role="button">voir boîte à outils »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/culture/"><img class="img-circle" src="../img/icons/toolkit-icon-color-06.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Culture</h3>
          <p>Pourquoi CC affaire dans le secteur de GLAM ? Voyez comment CC nous aide à préserver et partager le patrimoine culturel du monde.</p>
          <p><a class="btn btn-default" href="/cc-toolkits/culture/" role="button">voir boîte à outils »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      </div>
        </div>
          <div> <!-- /.container -->
        <br>
        <br>
        </section>