<!-- Intro section -->
    <section class="text-center" id="topics">
<div class="container">
  <div class="row">
    <div class="col-lg-8-offset-2"><span class="h2"><strong>¿Cómo decirle a alguien acerca de Creative Commons ?</strong></h2></span>
  <br>
  <span class="h3">Aquí están algunas herramientas para ayudar a iniciar la conversación.</span>
</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.container -->
</div><!-- container -->
<br>
<br>
<br>
  <!-- Grid Section -->
    <div class="container fluid">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4" text="center">
          <a href="/cc-toolkits/basics/"><img class="img-circle" src="../img/icons/toolkit-icon-color-01.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Fundamentos de la CC</h3>
          <p>¿Qué es Creative Commons y cuáles son las licencias CC ?</p>
          <p><a class="btn btn-default" href="/cc-toolkits/basics/" role="button">Ver toolkit »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/education/"><img class="img-circle" src="../img/icons/toolkit-icon-color-02.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Educación</h3>
          <p>¿Por qué es importante la CC en la educación?</p>
          <p><a class="btn btn-default" href="/cc-toolkits/education/" role="button">Ver toolkit »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/government/"><img class="img-circle" src="../img/icons/toolkit-icon-color-03.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Gobierno</h3>
          <p>¿Por qué es importante la CC en el gobierno?</p>
          <p><a class="btn btn-default" href="/cc-toolkits/government/" role="button">Ver toolkit »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <br>
            <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/creative-industries/"><img class="img-circle" src="../img/icons/toolkit-icon-color-04.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Industrias Creativas</h3>
          <p>¿Por qué es importante la CC en las industrias creativas ?</p>
          <p><a class="btn btn-default" href="/cc-toolkits/creative-industries/" role="button">Ver toolkit »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/science/"><img class="img-circle" src="../img/icons/toolkit-icon-color-05.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Ciencia</h3>
          <p>¿Por qué es importante la CC en la ciencia? Vea cómo las licencias CC van más allá del acceso y nos ayudan a avanzar nuestra comprensión del mundo .</p>
          <p><a class="btn btn-default" href="/cc-toolkits/science/" role="button">Ver toolkit »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-4 col-md-4 col-lg-4">
          <a href="/cc-toolkits/culture/"><img class="img-circle" src="../img/icons/toolkit-icon-color-06.png" alt="Generic placeholder image" style="width: 220px; height: 220px;"></a>
          <h3>Cultura</h3>
          <p>¿Por qué es importante la CC en el sector GLAM ? Vea cómo CC nos ayuda a preservar y compartir el patrimonio cultural del mundo .</p>
          <p><a class="btn btn-default" href="/cc-toolkits/culture/" role="button">Ver toolkit »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      </div>
        </div>
          <div> <!-- /.container -->
        <br>
        <br>
        </section>