 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="modal-body">

                            <!-- Carousel -->
                            <div class="carousel slide" id="portfolioCarousel-{{ post.modal-id }}" data-interval="false">

                              <ol class="carousel-indicators">
                                <li data-target="#portfolioCarousel-{{ post.modal-id }}" data-slide-to="0" class="active"></li>
                                <li data-target="#portfolioCarousel-{{ post.modal-id }}" data-slide-to="1"></li>
                              </ol>

                              <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                  <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                                </div>
                                <div class="item">
                                  <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                                </div>
                              </div><!-- .carousel-inner -->

                            </div>

                            <!-- Title/Subtitle-->
                            <h2>{{ post.project-name }}</h2>
                            <h3>By {{ post.institution }}</h3>

                            <!-- Carousel controls -->
                            <div class="btn-group">
                              <a class="btn btn-primary btn-green btn-left" href="#portfolioCarousel-{{ post.modal-id }}" role="button" data-slide-to="0">
                                <span><i class="fa fa-play-circle"></i> Play Video</span>
                              </a>
                              <a class="btn btn-primary btn-green btn-right" href="#portfolioCarousel-{{ post.modal-id }}">
                                <span><i class="fa fa-external-link"></i> View Project</span>
                              </a>
                            </div>

                            <h4>Synopsis</h4>
                            <p>{{ post.description }}</p>
                            <a href="#">Read more</a>

                            <h4>Industry Affiliations</h4>
                            <ul class="list-inline item-details categories">
                                {% for category in post.categories %}
                                  <li class="{{ category | join: ' ' }}">{{ category }}</li>
                                {% endfor %}
                            </ul>

                            <hr>

                            <ul class="project-pager">
                              <li class="prev-project"><a href="#"><i class="fa fa-chevron-left"></i>Prev Project</a></li>
                              <li class="next-project"><a href="#"><i class="fa fa-chevron-right"></i>Next Project</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
